/* .navbar {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo {
  font-size: 2.rem;;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links li a:hover {
  color: #00bcd4;
} */
